---
# Copyright (C) 2021-2025 Robert Wimmer
# SPDX-License-Identifier: GPL-3.0-or-later

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true

- name: Restart containerd
  ansible.builtin.systemd:
    name: containerd
    state: restarted
